:host ::ng-deep {
  .p-toast-message-custom {
    background-color: var(--gray-900);
    color: white;
    .p-toast-icon-close {
      color: white;
    }
  }

  .p-dialog-header {
    justify-content: flex-start;
  }
  .p-dialog-footer {
    padding: 0;

    .p-button-label {
      font-weight: 400;
    }
  }
}
